@page "/login"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CugemderApp.Security.CustomStateProvider authStateProvider

<h1 class="h2 font-weight-normal login-title">
    Giriş Yap
</h1>

<EditForm class="form-signin" OnValidSubmit="@( async () => await OnSubmit())" Model="loginRequest">
    <DataAnnotationsValidator />

    <label for="inputUsername">E-mail:</label>
    <InputText id="inputUsername" class="form-control" @bind-Value="loginRequest.UserName" autofocus placeholder="E-mail" />
    <ValidationMessage For="@(() => loginRequest.UserName)" />

    <br />

    <label for="inputPassword">Şifre:</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Şifre" @bind-Value="loginRequest.Password" />
    <ValidationMessage For="@(() => loginRequest.Password)" />

    <div class="form-check m-3">
        <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@loginRequest.RememberMe" />
        <label class="form-check-label" for="inputRememberMe">Beni Hatırla</label>
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Giriş yap</button>

    <label class="text-danger">@error</label>

    <NavLink href="forgotpassword">
        <h6 class="font-weight-normal text-center">Şifremi Unuttum</h6>
    </NavLink>
    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Üye Ol</h6>
    </NavLink>
</EditForm>

@code{
        LoginRequest loginRequest { get; set; } = new LoginRequest() { RememberMe = false };
        string error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Xamarin.Essentials.SecureStorage.GetAsync("loginmail").Result)
            && !string.IsNullOrEmpty(Xamarin.Essentials.SecureStorage.GetAsync("loginpass").Result))
        {
            loginRequest.UserName = Xamarin.Essentials.SecureStorage.GetAsync("loginmail").Result;
            loginRequest.Password = Xamarin.Essentials.SecureStorage.GetAsync("loginpass").Result;
            await OnSubmit();
        }
    }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            @if (loginRequest.RememberMe)
            {
                await Xamarin.Essentials.SecureStorage.SetAsync("loginmail", loginRequest.UserName);
                await Xamarin.Essentials.SecureStorage.SetAsync("loginpass", loginRequest.Password);
            }

            await authStateProvider.Login(loginRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}