@page "/register"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CugemderApp.Security.CustomStateProvider authStateProvider
@inject FileUpload fileDAL
@inject UploadsDAL uploadDAL

<h1 class="h2 font-weight-normal login-title">
    Register
</h1>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
    <DataAnnotationsValidator />

    <label for="inputFirstName" class="sr-only">Adınız:</label>
    <InputText id="inputFirstName" class="form-control" placeholder="Adınız" autofocus @bind-Value="@registerRequest.FirstName" />
    <ValidationMessage For="@(() => registerRequest.FirstName)" />
    <br />
    <label for="inputLastName" class="sr-only">Soyadınız:</label>
    <InputText id="inputLastName" class="form-control" placeholder="Soyadınız" autofocus @bind-Value="@registerRequest.LastName" />
    <ValidationMessage For="@(() => registerRequest.LastName)" />
    <br />
    <label for="inputMail" class="sr-only">E-mail:</label>
    <InputText id="inputMail" class="form-control" placeholder="E-mail" autofocus @bind-Value="@registerRequest.Email" />
    <ValidationMessage For="@(() => registerRequest.LastName)" />
    <br />
    <label for="inputPassword" class="sr-only">Şifre</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Şifreniz" @bind-Value="@registerRequest.Password" />
    <ValidationMessage For="@(() => registerRequest.Password)" />
    <br />
    <label for="inputPasswordConfirm" class="sr-only">şifre Onay</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Şifre Onay" @bind-Value="@registerRequest.PasswordConfirm" />
    <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" />
    <br />
    <button class="btn btn-info" type="button" @onclick="@SelecFiles">Dosya Seç</button>
    <br />

    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Üye Ol</button>
    <br />
    <label class="text-danger">@error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Zaten üye misiniz? Buradan giriş yapın.</h6>
    </NavLink>
</EditForm>

@code{

    RegisterRequest registerRequest { get; set; } = new RegisterRequest();
    string error { get; set; }

    IEnumerable<FileResult> pickResult;

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            UploadFiles();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async void SelecFiles()
    {
        pickResult = await FilePicker.PickMultipleAsync();
    }

    async void UploadFiles()
    {
        foreach (var item in pickResult)
        {
            System.IO.FileInfo fi = new System.IO.FileInfo(item.FileName);
            string encodedStr = string.Format(@"{0}", Guid.NewGuid());
            var filename = $"{encodedStr}{fi.Extension}";
            var stream = await item.OpenReadAsync();
            var content = new StreamContent(stream);
            var multi = new MultipartFormDataContent();
            multi.Add(content, filename, filename) ;
            fileDAL.UploadDocument(multi);
            Uploads file = new Uploads();
            file.UserMail = registerRequest.Email;
            file.FileName = filename;
            uploadDAL.PostUploads(file);
        }
    }


}