@page "/adminaccessuserlist"
@page "/adminaccessuserlist/{id:int}"


@inject IJSRuntime js

@using System.Text.Json.Serialization

@inject GroupsDAL groupDAL
@inject PointsDAL pointDAL
@inject AspNetUsersDAL userDAL
@inject NavigationManager uriHelper
@inject NotificationsDAL notifications
@inject MeetingPointsDAL meetingPointDAL
@inject NetworkingMeetingPointDAL networkMeetingDAL
@inject NetworkingActivityPointDAL networkActivityDAL
@inject AuthenticationStateProvider AuthenticationStateProvider



@if (groups == null)
{
    <p><em>Y&uuml;kleniyor...</em></p>
}
else
{
    <form @onsubmit="@( () => Navigate(option))">
        <div>
            <select class="form-control" @bind="option">
                <option selected value="0"> Tum Uyeler</option>
                @for (int i = 1; i <= groups.Count; i++)
                {
                    <option value="@groups[i-1].Id">@groups[i - 1].GroupName Grubu</option>
                }
            </select>
            <br />
            <button class="btn btn-primary" type="submit">Grup Seç</button>
            <button class="btn btn-secondary" type="submit">Kullanıcıları Güncelle</button>

            <button type="button" class="btn btn-danger" @onclick="@(() => uriHelper.NavigateTo("adminsettings"))">Geri Dön</button>
        </div>
        <br />
    </form>
}



@if (userlist == null)
{
    <p><em>Y&uuml;kleniyor...</em></p>
}
else
{
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AspNetUsers user in id.HasValue ? userlist.Where(x => x.Group == id) : userlist)
            {

                <tr>
                    <td>
                        <a href="/profile/@user.Id">@user.FirstName @user.LastName</a>
                    </td>
                    <td>
                        <button class="btn btn-dark" @onclick="@( () => uriHelper.NavigateTo($"adminaccessuser/{user.Id}"))">Düzenle</button>
                        <button @onclick="@( () => Delete(user.Id))" type="button" class="btn btn-danger">
                            Sil
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {


    [Parameter] public int? id { get; set; }

    private List<AspNetUsers> userlist = new List<AspNetUsers>();
    private List<AspNetUsers> userlistwithNull = new List<AspNetUsers>();
    private List<Groups> groups = new List<Groups>();
    private List<Points> pointlist = new List<Points>();
    private List<NetworkingMeetingPoints> networkingMeetingPoints = new List<NetworkingMeetingPoints>();
    private List<NetworkingActivityPoint> networkingActivityPoints = new List<NetworkingActivityPoint>();

    private string Result { get; set; }

    private AspNetUsers loggedUser;

    JsonResponse responsee = new JsonResponse();

    private int option = 0;

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userobj = authState.User;

        if (userobj.Identity.IsAuthenticated)
        {
            loggedUser = await userDAL.GetUsername(userobj.Identity.Name);

        }


        pointlist = await pointDAL.GetPoints();
        groups = await groupDAL.GetGroupsAsync();
        userlist = await userDAL.GetUsersNoNull();

        userlistwithNull = await userDAL.GetUsers();

        networkingActivityPoints = await networkActivityDAL.GetNetworkingActivityPoint();
        networkingMeetingPoints = await networkMeetingDAL.GetNetworkingMeetingPoints();
    }

    protected override void OnParametersSet()
    {
        option = id.GetValueOrDefault();
    }


    void Navigate(int option)
    {
        if (option == 0)
            uriHelper.NavigateTo($"/adminaccessuserlist/");
        else
            uriHelper.NavigateTo($"/adminaccessuserlist/{option}");
    }


    async Task Delete(string userId)
    {
        var boolval = false;

        var modalresponse = await js.InvokeAsync<object>("swal", "Kullanıcıyı silmek istediğinizden emin misiniz?", "", "error",
            new { buttons =
            new{
                cancel = "Hayır",
                accept = "Evet"
            }
            });

        if(modalresponse == null)
        {
            boolval = false;
        }
        else if (modalresponse.GetType().IsValueType)
        {
            boolval = true;
        }

        if (boolval)
        {
            var networkingActivitiesOfUser = networkingActivityPoints.Where(c => c.ReceiverUserId == userId);
            foreach (var item in networkingActivitiesOfUser)
            {
                networkActivityDAL.DeleteNetworkingActivityPoint(item.Id);
            }
            var networkingMeetingsOfUser = networkingMeetingPoints.Where(c => c.ReceiverUserId == userId);
            foreach (var item in networkingMeetingsOfUser)
            {
                networkActivityDAL.DeleteNetworkingActivityPoint(item.Id);
            }
            meetingPointDAL.DeleteMeetinPoints(userId);
            pointDAL.DeletePoints(userId);
            userDAL.DeleteUser(userId);
            RefreshPageContent();
        }
        else
        {
            RefreshPageContent();
        }

    }


    public class JsonResponse
    {
        [JsonPropertyName("dismiss")]
        public string Dismiss { get; set; }

        [JsonPropertyName("value")]
        public bool Value { get; set; } = false;
    }


    async void RefreshPageContent()
    {
        userlist = await userDAL.GetUsersNoNull();
        System.Threading.Thread.Sleep(200);
        uriHelper.NavigateTo("redirect/adminaccessuserlist");
        await OnInitializedAsync();
    }

    void UpdateUserList()
    {
        var tempList = userlistwithNull.Where(c => c.EmailConfirmed == true).Where(c => c.Points == null).ToList();

        foreach (var user in tempList)
        {
            user.Points = pointlist.Where(c => c.UserId == user.Id).First().Id;
        }
    }
}
