@page "/groups/edit/{groupsId:int}"
@inject NavigationManager uriHelper
@inject GroupsDAL groupDAL
@inject NavigationManager uriHelper

<h3>Güncelle</h3>

<EditForm Model="@group" OnValidSubmit="@EditGroup">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText class="form-control"  @bind-Value="@group.GroupName" />
            <ValidationMessage For="@(() => group.GroupName)" />


            <br />

            <div style="float: left">
                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <button type="button" class="btn btn-danger" @onclick="@(() => uriHelper.NavigateTo("groups"))">Geri Dön</button>
            </div>

        </div>
    </div>
</EditForm>


@code {
    [Parameter] public int groupsId { get; set; }

    Groups group = new Groups();


    DateTime time = DateTime.UtcNow;

    protected async override Task OnParametersSetAsync()
    {
        group = await groupDAL.GetGroup(groupsId);
    }
    async Task EditGroup()
    {
        group.UpdatedAt = DateTime.UtcNow;
        groupDAL.PutGroups(groupsId, group);
        uriHelper.NavigateTo("groups");
    }
}