@page "/groups"
@inject GroupsDAL groupDAL
@inject AspNetUsersDAL userDAL
@inject NavigationManager uriHelper


<h3>Grup Ekle</h3>
<br />
<EditForm Model="@newGroup" OnValidSubmit="@CreateGroup">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText class="form-control"  @bind-Value="@newGroup.GroupName" />
            <ValidationMessage For="@(() => newGroup.GroupName)" />


            <br />

            <div style="float: left">
                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <button type="button" class="btn btn-danger" @onclick="@(() => uriHelper.NavigateTo("adminsettings"))">Geri Dön</button>
            </div>
        </div>
    </div>
</EditForm>


<h3>Grup Listesi</h3>
<br />
@if (groups == null)
{
        <p><em>Y&uuml;kleniyor...</em></p>
}
else if (groups.Count == 0)
{
    <text>Kayıtlı Grup Bulunamadı!</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Grup adı</th>
                <th class="d-flex justify-content-center">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Groups group in groups)
            {
                <tr>
                    <td>@group.GroupName</td>
                    <td class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="groups/edit/@group.Id">Düzenle</a> &nbsp;
                        <button class="btn btn-danger" @onclick="@(() => Delete(group.Id))">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<Groups> groups = new List<Groups>();
    List<AspNetUsers> users = new List<AspNetUsers>();
    Groups newGroup = new Groups();


    protected override async Task OnInitializedAsync()
    {
        groups = await groupDAL.GetGroupsAsync();
        users = await userDAL.GetUsers();
    }

    void Delete(int groupsId)
    {
        var tempUsers = users.Where(c => c.Group == groupsId).ToList();
        foreach (var user in tempUsers)
        {
            user.Group = null;
            userDAL.PutUser(user.Id, user);
        }
        groupDAL.DeleteGroups(groupsId);
        RefreshPageContent();
    }

    void CreateGroup()
    {
        groupDAL.PostGroups(newGroup);
        RefreshPageContent();
    }

    async void RefreshPageContent()
    {
        groups = await groupDAL.GetGroupsAsync();
        System.Threading.Thread.Sleep(200);
        uriHelper.NavigateTo("redirect/groups");
        await OnInitializedAsync();
    }
}