@page "/waitinglist"
@inject AppState appState
@inject IJSRuntime js
@inject NavigationManager uriHelper


<p> Grup Atamasi Bekleyen Kullanicilar :</p>

@if (waitingUsers == null)
{

}
else
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Uye Adı</th>
                <th>Atanacak Grubu</th>
                <th>Dosyaları</th>
                <th>Kullanıcıyı Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AspNetUsers user in waitingUsers)
            {
                <tr>
                    <td>@user.FirstName @* TODO: Add Surname *@</td>
                    <td>
                        <select class="form-control"
                                @bind="user.Group">
                            <option value="0">---Grup Seçin---</option>
                            @foreach (var group in groups)
                            {
                                @if (group.Id == groupId)
                                {
                                    <option selected value="@group.Id">@group.GroupName</option>
                                }
                                else
                                {
                                    <option value="@group.Id">@group.GroupName</option>
                                }

                            }
                        </select>
                    </td>
                    <td>
                        @if (uploads == null)
                        {
                            <p> ... </p>
                        }
                        else
                        {

                            var test = uploads.Where(x => x.UserId == user.Id)
                                            .ToList();

                            foreach (Uploads item in test)
                            {
                                <a href="/UploadedContent/@item.FileName">Indir</a>
                            }
                        }

                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(() => Delete(user.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    @if (waitingUsers.Length > 0)
    {
        <button type="submit" @onclick="@( () => Update())"> Guncelle </button>
    }
}

@code {
    AspNetUsers[] waitingUsers;
    public int groupId = 0;
    private List<Groups> groups = new List<Groups>();
    private List<Uploads> uploads;
    private List<Points> points;

    protected override async Task OnInitializedAsync()
    {
        waitingUsers = await AppState._http.GetFromJsonAsync<AspNetUsers[]>("api/AspNetUsers/noGroup");
        groups = await AppState._http.GetFromJsonAsync<List<Groups>>("api/groups");
        uploads = await AppState._http.GetFromJsonAsync<List<Uploads>>("api/Uploads");
        points = await AppState._http.GetFromJsonAsync<List<Points>>("api/Points");


        foreach (var user in waitingUsers)
        {
            user.Points = points.Where(x => x.UserId == user.Id).FirstOrDefault().Id;
        }

    }

    async void Update()
    {
        foreach (AspNetUsers user in waitingUsers)
        {
            await AppState._http.PutAsJsonAsync($"api/AspNetUsers/newGroup/{user.Id}", user);
        }
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("");
    }

    async Task Delete(string userId)
    {
        var user = waitingUsers.First(x => x.Id == userId);
        if (await js.InvokeAsync<bool>("confirm", $"Bu işlemden emin misiniz?"))
        {
            await AppState._http.DeleteAsync($"api/Points/{userId}");
            await AppState._http.DeleteAsync($"api/Uploads/{userId}");
            await AppState._http.DeleteAsync($"api/AspNetUsers/{userId}");
        }
    }
}