@page "/"
@inject AspNetUsersDAL userDAL
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border: thin;
        border-color: black;
        border-radius: 0.5rem;
        background: rgba(170, 165, 165, 0.20);
        ;
    }

    .profile-img {
        text-align: center;
    }

        .profile-img img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

            .profile-img .file input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }

    .profile-head h5 {
        color: #333;
    }

    .profile-head h6 {
        color: #0062cc;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

            .profile-head .nav-tabs .nav-link.active {
                border: none;
                border-bottom: 2px solid #0062cc;
            }

    .profile-work {
        padding: 14%;
        padding-top: 5%;
        margin-top: -15%;
    }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>

@if (loggedUser == null)
{
    <p> Yükleniyor...</p>
}
else
{
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@loggedUser.PhotoUrl" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @loggedUser.FirstName @loggedUser.LastName
                    </h5>
                    <h6>
                        @{
                            if (loggedUser.Company != null)
                            {
                                <p>@loggedUser.Company</p>
                            }
                        }
                    </h6>
                    @if (loggedUser.Summary != null)
                    {
                            <h6>Hakkında</h6>
                            <p>@loggedUser.Summary</p>
                    }
                    @if (loggedUser.PointsNavigation != null)
                    {
                        <p class="proile-rating">
                            CUGEMDER PUANI :
                            <span>
                                <div style="border-radius: 50%; width: 36px; height: 36px; padding: 8px; background: #0f0; border: 2px solid #666; color: #666; text-align: center;">
                        <p>@loggedUser.PointsNavigation.TotalPoints</p>
                    </div>
                    </span>
                    </p>

                    <p class="proile-rating"> Grup Sıralaması</p> <span>
                        <div>
                            @if (standings[loggedUser.Email] != null)
                            {
                                @standings[loggedUser.Email];
                            }
                    </div>
                </span>
            }
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li @onclick="@( () => ChangeTabs(1))" class="nav-item">
                            <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Kişisel Bilgiler</p>
                        </li>
                        <li @onclick="@( () => ChangeTabs(2))" class="nav-item">
                            <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mesleki Bilgiler</p>
                        </li>
                        <li @onclick="@( () => ChangeTabs(3))" class="nav-item">
                            <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">İletişim Bilgileri</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- Tab 1 Stars-->
                    <div hidden="@tab1" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @if (loggedUser.GenderNavigation != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cinsiyet</label>
                                </div>

                                <div class="col-md-6">
                                    <p>@loggedUser.GenderNavigation.GenderName</p>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <label>Yaş</label>
                            </div>
                            <div class="col-md-6">
                                <p>@(calculateAge(loggedUser.DateOfBirth.GetValueOrDefault()))</p>
                            </div>
                        </div>
                        @if (loggedUser.LocatedCityNavigation != null)
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Şehir</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@loggedUser.LocatedCityNavigation.CityName</p>
                                </div>
                            </div>

                        }
                        @if (loggedUser.RelationshipNavigation != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Medeni Hali</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@loggedUser.RelationshipNavigation.RelationshipStatus</p>
                                </div>
                            </div>
                        }
                        @if (loggedUser.Summary != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hakkında :</label>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">
                                        @if (loggedUser.Summary != null)
                                        {
                                            @loggedUser.Summary
                                        }
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Tab 1 Ends-->
                    <!-- Tab 2 Start -->
                    <div hidden="@tab2" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Meslek</label>
                            </div>
                            <div class="col-md-6">
                                <p>@loggedUser.JobTitleNavigation.TitleName</p>
                            </div>
                        </div>

                        @if (loggedUser.PositionNavigation != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Pozisyon</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@loggedUser.PositionNavigation.Position</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @if (loggedUser.PositionNavigation.Id != 2)
                                    {
                                        <label>Mezuniyet Yılı</label>
                                    }
                                    else
                                    {
                                        <label>Firma Kuruluş Yılı:</label>
                                    }
                                </div>
                                @if (loggedUser.Year != null)
                                {
                                    <div class="col-md-6">
                                        <p>@loggedUser.Year</p>
                                    </div>
                                }
                            </div>

                        }


                        @if (loggedUser.Speciality != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Uzmanlık Alanı</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @loggedUser.Speciality
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Tab 2 Ends-->
                    <!-- Tab 3 Starts-->
                    <div hidden="@tab3" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>E-mail</label>
                            </div>
                            <div class="col-md-6">
                                <p>@loggedUser.Email</p>
                            </div>
                        </div>
                        @if (loggedUser.PhoneNumber != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telefon</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@loggedUser.PhoneNumber</p>
                                </div>
                            </div>
                        }
                        @if (loggedUser.Website != null)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Web Sitesi :</label>
                                </div>
                                <div class="col-md-6">
                                    <p @onclick="@( () => GoToWebsite(loggedUser.Website))"> @loggedUser.Website</p>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Tab 3 Ends-->
                </div>
            </div>
        </div>
        </div>

    }
@code {

    private AspNetUsers loggedUser;
    private List<AspNetUsers> userlist, tempList;
    bool tab1 = false, tab2 = true, tab3 = true;
    private string _userId;
    int standingNo = 1;
    Dictionary<string, int> standings = new Dictionary<string, int>();


    public delegate bool onSubscribe(string groupname);
    public delegate bool onUnSubscribe(string groupname);

    public delegate void SubscribeTopicEventHandler(string groupname, string username);
    public delegate void UnsubscribeTopicEventHandler(string groupname);

    public static event SubscribeTopicEventHandler topicSubscribed;
    public static event UnsubscribeTopicEventHandler topicUnsubscribed;

    protected virtual void onTopicSubscribed(string groupname, string username)
    {
        if (topicSubscribed != null)
            topicSubscribed(groupname, username);

    }

    protected virtual void onTopicUnsubscribed(string groupname)
    {
        if (topicUnsubscribed != null)
            topicUnsubscribed(groupname);

    }

    public void Unsubscribe(string groupname)
    {
        //
        onTopicUnsubscribed(groupname);
    }

    public void Subscribe(string groupname, string username)
    {
        //
        onTopicSubscribed(groupname, username);
    }

    void ChangeTabs(int tab)
    {
        switch (tab)
        {
            case 1:
                tab1 = false;
                tab2 = true;
                tab3 = true;
                break;
            case 2:
                tab1 = true;
                tab2 = false;
                tab3 = true;
                break;
            case 3:
                tab1 = true;
                tab2 = true;
                tab3 = false;
                break;
        }

    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            loggedUser = await userDAL.GetUserID(user.Identity.Name);
            if(loggedUser.GroupNavigation != null)
            {
                if (loggedUser.IsTopicSubscribed.GetValueOrDefault() && loggedUser.LastGroupName != loggedUser.GroupNavigation.GroupName)
                {
                    Unsubscribe(loggedUser.LastGroupName);
                    Subscribe(loggedUser.GroupNavigation.GroupName, "");
                }
                else if(loggedUser.IsTopicSubscribed.GetValueOrDefault() != true)
                {
                    Subscribe(loggedUser.GroupNavigation.GroupName, loggedUser.Id);
                    loggedUser.IsTopicSubscribed = true;
                    userDAL.PutUser(loggedUser.Id, loggedUser);
                }

            }
            else
            {
                Unsubscribe(loggedUser.LastGroupName);
            }
            userlist = await userDAL.GetUsersNoNull();
            userlist = userlist.Where(c => c.Group == loggedUser.Group).ToList();
            foreach (var users in userlist)
            {
                standings.Add(users.Email, standingNo++);
            }
        }
    }

    public async void GoToWebsite(string link)
    {
        await Browser.OpenAsync(link);
    }

    int calculateAge(DateTime date)
    {
        var age = DateTime.Today.Year - date.Year;

        if (date.Date > DateTime.Today.AddYears(-age)) age--;
        return age;
    }
}