@page "/jobTitles/edit/{id:int}"
@inject NavigationManager uriHelper
@inject JobTitlesDAL jobDal

<h3>Güncelle</h3>

<EditForm Model="@job" OnValidSubmit="@EditGroup">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText class="form-control" @bind-Value="@job.TitleName" />
            <ValidationMessage For="@(() => job.TitleName)" />


            <br />

            <div style="float: left">
                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
            </div>
            <div style="display: flex; justify-content: flex-end">
                <button type="button" class="btn btn-danger" @onclick="@(() => uriHelper.NavigateTo("jobtitles"))">Geri Dön</button>
            </div>
        </div>
    </div>
</EditForm>




@code {
    [Parameter] public int id { get; set; }

    JobTitles job = new JobTitles();

    protected async override Task OnParametersSetAsync()
    {
        job = await jobDal.GetJobTitles(id);
    }
    async Task EditGroup()
    {
        jobDal.PutJobTitles(id, job);
        uriHelper.NavigateTo("jobtitles");
    }
}