@page "/jobtitles"
@inject JobTitlesDAL jobDAL
@inject AspNetUsersDAL userDAL
@inject NavigationManager uriHelper

<h3>Meslek Listesi</h3>

<EditForm Model="@jobTitles" OnValidSubmit="@CreateJobTitle">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText placeholder="Yeni Meslek Ekle" @bind-Value="@jobTitles.TitleName" />
            <ValidationMessage For="@(() => jobTitles.TitleName)" />

            <button type="submit" class="btn btn-success">
                Kaydet
            </button>
        </div>
    </div>
</EditForm>

@if (jobTitlesList == null)
{
    <center>
        <img src="_content/CugemderApp/beeport.png" style="height: 200px; width: 200px;" />

        <p><em>Y&uuml;kleniyor</em></p>
    </center>
}
else if (jobTitlesList != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Grup adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobTitlesList)
            {
                <tr>
                    <td>@job.TitleName</td>
                    <td>
                        <a class="btn btn-success" href="groups/edit/@job.Id">Düzenle</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(job.Id))">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {


    JobTitles jobTitles = new JobTitles();
    List<JobTitles> jobTitlesList;
    List<AspNetUsers> users;

    protected override async Task OnInitializedAsync()
    {
        jobTitlesList = await jobDAL.GetJobTitles();
        users = await userDAL.GetUsers();
    }

    void CreateJobTitle()
    {
        jobDAL.PostJobTitles(jobTitles);
        jobTitles = new JobTitles();
        RefreshPageContent();
    }

    void Delete(int jobId)
    {
        var tempUsers = users.Where(c => c.JobTitle == jobId).ToList();
        foreach (var user in tempUsers)
        {
            user.Group = null;
            userDAL.PutUser(user.Id, user);
        }
        jobDAL.DeleteJobTitles(jobId);
        RefreshPageContent();
    }


    async void RefreshPageContent()
    {
        jobTitlesList = await jobDAL.GetJobTitles();
        System.Threading.Thread.Sleep(100);
        uriHelper.NavigateTo("redirect/jobtitles");
        await OnInitializedAsync();
    }
}
